@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-geist text-[36px] font-[450] leading-[1.1] tracking-[-0.03em] sm:text-[48px];
  }
  h2 {
    @apply font-geist text-[24px] font-[500] tracking-[-0.01em] sm:text-[28px];
  }
  h3 {
    @apply font-geist text-[26px] font-[300] tracking-[-0.01em] sm:text-[30px];
  }
  h4 {
    @apply font-geist text-[22px] font-[480] leading-none tracking-[-0.02em] sm:text-[26px];
  }
  h5 {
    @apply font-geist text-[18px] font-[350] tracking-[-0.01em] sm:text-[22px];
  }
  p {
    @apply font-geist text-[18px] font-[350] tracking-[-0.01em];
  }
}

@layer components {
  .button {
    @apply font-switzer text-[18px] font-[350] leading-none tracking-[-0.01em] text-[var(--text-60)] hover:text-[var(--text-90)] sm:text-[22px];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: rgba(0, 1, 17, 0.05);
  --border-hover: rgba(0, 1, 17, 0.16);
  --text-40: rgba(0, 1, 17, 0.4);
  --text-60: rgba(0, 1, 17, 0.6);
  --text-90: rgba(0, 1, 17, 0.9);
}

/* disable dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
